@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --primary-color: #3D0301;
  --primary-100: whitesmoke;
  --secondary-color: #B03052;
  --secondary-100: #efe2e5;
  --accent-color: #EBE8DB;
  --danger: #D24545;
  --danger-100: #FDEAEA;
  --neutral-100: #EFEFEF;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

body {
  background-color: #F1E7E7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1300px;
}

header {
  background-color: rgba(61, 3, 1, 0.8); 
  top: 0;
  position: sticky;
  z-index: 1000000;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.main-header {
  min-height: 90px;
  padding-block: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
}

.navigation-drawer {
  min-height: 100vh;
  width: 200px;
  padding: 20px 10px;
  background-color: whitesmoke;
  justify-items: center;
  
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  box-shadow: 0 0 4px 2px #00000033;
  transform: translateX(-100%);
  transition: transform 350ms;

  z-index: 9999;
}

.navigation-drawer.open {
  transform: translateX(0);
}

.drawer-button {
  border: 0;
  border-radius: 4px;

  background-color: transparent;

  font-weight: bold;
  font-size: 28px;
  color: whitesmoke;
  
  cursor: pointer;
}

.drawer-button svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: whitesmoke;
  font-size: large;
}

.nav-list {
  list-style: none;
  
  display: flex;
  flex-direction: column;
  gap: 10px 20px;
  width: 100%;
}

.nav-list li {
  width: 100%;
  justify-items: center;
}

.nav-list li a {
  width: 100%;
  justify-content: center;
  padding: 0.5rem 1rem;
  width: 100%;
  
  display: flex;
  
  color: black;
  text-decoration: none;
  transition: font-weight 0.3s ease;
}

.nav-list li a:hover, .nav-list li a.active {
  background-color: rgba(230, 157, 184, 0.2);
}

.title-button {
  display: flex;
  align-items: center;
}

.title-button h2 {
  width: 100%;
}

button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

a svg, button svg {
  width: 1rem;
  height: 1rem;
  stroke: black; 
  flex-shrink: 0;
}

.btn {
  display: flex;
  background-color: var(--primary-color);
  color: whitesmoke;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  min-width: fit-content;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: 0.5px solid black;
}

.btn-secondary {
  background-color: var(--accent-color);
  border: 1.5px solid var(--secondary-color);
  color: black;
}

.btn-secondary:hover {
  background-color: var(--secondary-color);
  outline: none;
  color: whitesmoke;
}

.btn-secondary:hover svg {
  stroke: whitesmoke;
}

.btn-danger {
  color: black !important;
  border: 1.5px solid var(--danger);
  background-color: var(--danger-100);
  justify-content: start;
  font-size: medium;
}

.btn-danger svg {
  stroke: black;
}

.btn-danger:hover {
  background-color: var(--danger) !important;
  outline: none;
  color: var(--danger-100) !important;
}

.btn-danger:hover svg {
  stroke: var(--danger-100) !important;
}

input, textarea {
  padding: 0.5rem;
}

.hidden {
  display: none;
}

.error-message {
  color: red;
  margin-bottom: 1.2rem;
}

.map-btn.disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

/* MAIN */
.main-content {
  display: flex;
  padding-block: 32px;
  width: 100%;
}

/* AUTH */

.auth-container {
  width: 50%;
  margin: auto;
  padding: 2rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-title {
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.auth-form input {
  padding: 0.5rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
}

.auth-button:hover {
  background-color: black;
}

.auth-note {
  margin-top: 1rem;
  text-align: center;
}

.auth-link {
  display: block;
  text-align: center;
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
  margin-top: 0.3rem;
}

.auth-link:hover {
  text-decoration: underline;
}

/* STORY */

#story-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  margin-top: 20px;
}

story-card {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  font-family: 'Lexend', sans-serif;
  max-width: 100%;
}

story-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.story-img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
}

.story-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;
}

.story-name {
  color: black;
  font-size: 1rem;
}

.story-desc {
  color: black;
  height: 100%;
}

.story-date {
  font-size: 0.85rem;
  color: #555;
}

.map-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--secondary-color);
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: small;
  justify-content: start;
  width: fit-content;
}

.map-btn svg {
  stroke: var(--secondary-color);
}

.map-btn:hover {
  text-decoration: underline;
}

#drawer-button:hover {
  box-shadow: none;
  outline: none;
}

.meta {
  font-size: small;
  color: grey;
  font-weight: 400;
}

a svg {
  stroke: whitesmoke; 
}

a {
  gap: 8px;
}

/* ADD */

#add-story-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  border: 1px solid black;
  border-radius: 12px;
  padding: 1rem;
  background-color: whitesmoke;
}

#add-story-form button {
  border-radius: 8px;
}

/* MEDIA */

#video {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 8px;
}

#canvas {
  max-width: 100% ;
}

/* MAP */

#map { 
  margin-top: 20px;
  height: calc(100vh - 210px);; 
}

/* LOADING INDICATOR */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading .spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ABOUT */

.about-container {
  background-color: #ffffff;
  max-width: 60%;
  margin: 1rem auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-title {
  font-size: 2rem;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.about-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.5;
  text-align: center;
}

.team-title {
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.team-list {
  list-style-type: none;
  padding: 0;
}

.team-member {
  background-color: #faeef2;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.team-member h3 {
  color: #333;
  margin-bottom: 5px;
}

.team-member p {
  color: #777;
}

/* RESPONSIVE */

@media screen and (width > 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;
    
    flex-direction: row;
    justify-content: space-between;
    
    position: static;
    box-shadow: none;
    transform: translateX(0);
  }
  
  .nav-list {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-list li {
    width: 100%;
  }
  
  .nav-list li a {
    display: inline-block;
    color: whitesmoke;
  }

  .nav-list li a:hover {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .drawer-button {
    display: none;
  }
}